<ion-content class="background-image">

  <ion-header class="ion-no-border">
    <ion-toolbar color='#145DA0'>
      <ion-title class="titulo">Smart Commerce</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="bordered" routerLink="/search">
          <ion-icon name="search-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <!-- MENU DESLIZABLE-->
  <ion-toolbar color='#145DA0'>
    <ion-segment>
      <ion-segment-button value="inicio">
        <ion-label>Menú Principal</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>



  <div class="container">
    <nav>
      <ul>
        <li routerLink="/analisisventas">Análisis Ventas</li>
        <li routerLink="/historialventas">Historial Ventas</li>
        <li routerLink="/productos">Productos</li>
        <li routerLink="/recomendaciones">Recomenda<br> ciones</li>
      </ul>
    </nav>
  </div>



</ion-content>